.env
.venv
.vscode
.idea
.pytest_cache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
.pytest_cache
.pylintrc
.ruff_cache
.ruff_cache

temp_captcha.jpg

courses.db
cookies.json
ybu_agent.jsonl
ybu_courses.db

# HTML 文件（调试文件和测试文件）
*.html

# 学生选课网页源代码测试文件夹（用于开发）
miscellaneous/学生选课_files
miscellaneous/学生选课1_files
