.env
.venv
.vscode
.idea
.pytest_cache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
.pytest_cache
.pylintrc
.ruff_cache
.ruff_cache

*.db
*.log
temp_*
cookies.json
ybu_agent.jsonl
debug_*
学生选课*
tests
test_*